html, body, header, main, footer{
  margin: 0px;
  padding: 0px;
}

/*desktop*/
@media only screen and (min-width:600px){
  header{
    display: block;
    background-color: #333333;
    color: white;
  }
  #logo{
    margin: 0px;
    display: inline-block;
  }
  ul{
    margin: 0px;
    display: inline-block;
    float: right;
  }
  li{
    list-style-type: none;
    display: inline-block;
    padding-right: 20px;
    padding-top: 10px;
  }
  li a{
    text-decoration: none;
    color: #ffffff;
  }
  #dropdown{
    display: none;
  }
}

/*phone*/
@media only screen and (max-width:600px){
  header{
    display: flexbox;
    background-color: #333333;
    color: white;
    align-items: center;
  }
  #logo{
    margin: 0px;
    display: inline-block;
  }
  ul{
    margin: 0px;
    display: inline-block;
    float: right;
    margin-right: 3%;
  }
  li{
    display: none;
  }
  li a{
    display: none;
  }
  #dropdown{
    margin: 0px;
    display: inline-block;
  }
   #dropdown:hover {
     
  }
}
